# H1: Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives__
- To record
their data experiments and results that others can reuse
- To combine descriptive text,
code blocks, and code output in a single file
- To generates the output,
including plots and tables, within the notebook file.
And you can then export the notebook to a PDF
or HTML file format that can then be shared with anyone.


Some of the popular languages that Data Scientists use are:
1. Python
2.  R
3.  SQL
4.  C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Plotly
5. Seanborn

|Data science tools|
|----------------------|
|Hadoop|
|Apache Spark|
|Tensorflow|

### H3: Below are a few examples of evaluating arithmetic expressions in Python

# This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

# This will convert 200 minutes to hours by diving by 60

In [5]:
200/60

3.3333333333333335

## H2: Author
Mwanaidi Mahiza